@import "./variables.less";

.cookie-consent {
    font-size: @base-unit;
    padding: 8px;
    background: @color-darkbrownbg;
    color: @color-black;

    .consent-text {
        padding-bottom: 16px;
    }

    .consent-buttons {
        text-align: right;
        margin: 0;
    }
}
